<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Test Printer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="text" placeholder="192.168.10.5"  [(ngModel)]='ip_address_printer' required>
        <input type="text" placeholder="9100" [(ngModel)]='port_printer' required>
        <input type="text" placeholder="MY RESTO TICKET" [(ngModel)]='title_to_print'required>
        <ion-button (click) = "test()">Print</ion-button>
        <p>click button to test Printer </p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
